@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Try to read machine property and some property from the "appsettings.json" file. -->
<h4>This is my computer name: @Configuration["computername"]</h4>
<h3>This is my secret key: @Configuration["SomeProperty"]</h3>

